header
    @apply fixed top-0 left-0 w-screen
    @apply text-white z-10
    .header-language
        .header-language-active
            @apply flex items-center
            li:not(.wpml-ls-current-language)
                @apply hidden
        .header-language-list
            li.wpml-ls-current-language
                @apply hidden

.header
    @apply xl:top-10 bg-Utility-white xl:bg-transparent
    @apply transition-all duration-300

    --header-height: 96px
    --header-height-active: 118px
    --header-logo: 140px
    --header-logo-active: 94px

    --header-height-mobile: 72px
    --header-height-active-mobile: 96px

    &.active
        @apply top-0 bg-Utility-white
        .header-wrapper
            @apply rem:h-[var(--header-height-mobile)] rem:xl:h-[var(--header-height-active)]
            .header-logo
                @apply w-1/5 md:w-[12%] lg:w-[8.5%] xl:w-[6.5%] rem:h-[var(--header-logo)] rem:xl:h-[var(--header-logo-active)]
                .img
                    @apply ratio:pt-[94_136]

        .header-mobile-wrapper
            @apply rem:top-[var(--header-height-mobile)]

    .header-wrapper
        @apply w-full rem:h-[var(--header-height-active-mobile)] rem:xl:h-[var(--header-height)] flex items-center xl:flex-between gap-4 py-1 z-1 px-4 xl:px-40
        @apply transition-all duration-300

        .header-logo
            @apply absolute xl:top-1/2 xl:left-1/2 xl:-translate-x-1/2 xl:-translate-y-1/2
            @apply w-1/4 md:w-[15%] lg:w-[10.5%] flex-center z-3 shrink-0 rem:h-[var(--header-logo-active)] rem:xl:h-[var(--header-logo)]
            @apply transition-all duration-500
            .img
                @apply ratio:pt-[140_202]

    .menu-left
        @apply hidden xl:flex w-[43.75%] h-full justify-start gap-8 px-9 rounded-l-full
        @apply bg-[linear-gradient(90deg,_#FFF_0%,_#FFF_86%,_rgba(255,255,255,.85)_92%,_rgba(255,255,255,0)_100%)]

        .header-menu
            @apply flex justify-start items-center
            ul
                @apply flex-center gap-8

                a
                    @apply relative text-primary-1 heading-4 font-bold font-primary uppercase whitespace-nowrap
                    @apply transition-all duration-300

                    &::before
                        content: ""
                        @apply absolute w-2 h-2 top-0 left-1/2 -translate-y-2full bg-primary-3 rounded-full
                        @apply opacity-0 transition-all duration-300

                    &:hover
                        @apply text-primary-3
                        &::before
                            @apply opacity-100

    .menu-right
        @apply hidden xl:flex w-[43.75%] h-full justify-end gap-10 px-5.5 rounded-r-full
        @apply bg-[linear-gradient(270deg,_#FFF_0%,_#FFF_86%,_rgba(255,255,255,.85)_92%,_rgba(255,255,255,0)_100%)]

        .header-menu
            @apply w-full flex justify-center items-center
            ul
                @apply w-full flex justify-end gap-17

                a
                    @apply relative text-primary-1 heading-4 font-bold font-primary uppercase whitespace-nowrap
                    @apply transition-all duration-300

                    &::before
                        content: ""
                        @apply absolute w-2 h-2 top-0 left-1/2 -translate-y-2full bg-primary-3 rounded-full
                        @apply opacity-0 transition-all duration-300

                    &:hover
                        @apply text-primary-3
                        &::before
                            @apply opacity-100

    .wpml-ls-legacy-list-horizontal
        @apply p-0

    .header-hamburger
        @apply absolute top-1/2 -translate-y-1/2 right-4 flex xl:hidden z-999

    .header-mobile-wrapper
        @apply fixed xl:hidden rem:top-[var(--header-height-active-mobile)] right-0 w-full rem:md:w-[500px] h-[100dvh] min-h-screen flex flex-col gap-4 p-4 invisible translate-x-full overflow-y-auto bg-Utility-white z-9
        @apply transition-all duration-500

        .header-search
            @apply relative w-full

        .menu-mobile
            @apply w-full h-[100dvh]
            .header-menu.mobile-menu-item
                @apply w-full h-full flex flex-col

                .menu-item-has-children
                    @apply flex items-center py-5 border-b
                    &:first-child
                        @apply  border-y

.header-hamburger
    @apply flex flex-col gap-2 xl:ml-[calc(58/19.2*1rem)] cursor-pointer z-10 relative xl:hidden items-center justify-center
    @apply w-[45px] h-[45px] bg-primary-1 rounded-full
    .wrap
        @apply relative w-full h-full flex-center
    span
        transform-origin: center center
        will-change: transform
        transition-timing-function: cubic-bezier(1,0,0,1)
        @apply transition-all duration-300 pointer-events-none
        @apply w-[22px] h-[2px] bg-white absolute
        &:nth-child(1)
            top: calc((50% - 1px) - 6px)
        &:nth-child(3)
            top: calc((50% - 1px) + 6px)
        &:nth-child(2)
            @apply opacity-100

body.isOpenMenu
    @apply overflow-hidden

    .header-mobile-wrapper
        @apply visible translate-x-0

    header
        .header-hamburger
            span
                &:nth-child(1)
                    rotate: 45deg
                    top: calc((50% - 1px))
                &:nth-child(2)
                    @apply opacity-0
                &:nth-child(3)
                    top: calc((50% - 1px))
                    rotate: -45deg
@keyframes leftBar
    0%
        height: 0
        left: 0
        top: 100%
    20%
        height: 100%
        left: 0
        top: 0
    40%
        height: 0
        left: 0
        top: 0
@keyframes topBar
    0%, 20%
        left: 0
        top: 0
        width: 0
    40%
        left: 0
        top: 0
        width: 100%
    60%
        left: calc(100% - 1px)
        top: 0
        width: 0
@keyframes rightBar
    0%, 40%
        height: 0
        left: calc(100% - 1px)
        top: 0
    60%
        height: 100%
        left: calc(100% - 1px)
        top: 0
    80%
        height: 0
        left: calc(100% - 1px)
        top: 100%
@keyframes bottomBar
    0%, 60%
        left: 100%
        top: 100%
        width: 0
    80%
        left: 0
        top: 100%
        width: 100%
    100%
        left: 0
        top: 100%
        width: 0
