.about-history

    .section-content
        @apply relative w-full

    .about-history-swiper
        @apply relative w-full overflow-visible

        .timeline-axis
            transform: translateY(-50%)
            @apply absolute z-[1] left-0 right-0 top-1/2 h-0.25 bg-primary-3

        // ----------------------------------------
        // Swiper wrapper
        // ----------------------------------------
        .swiper-wrapper
            @apply items-center

        // ----------------------------------------
        // 1 slide = 1 timeline point
        // ----------------------------------------
        .swiper-slide
            @apply relative flex-center shrink-0
            @apply rem:h-[440px]

        // ----------------------------------------
        // Timeline item
        // ----------------------------------------
        .timeline-item
            @apply relative flex-center w-full h-full

        // ----------------------------------------
        // Position = dot + year
        // ----------------------------------------
        .timeline-position
            transform: translate(-50%, -50%)
            @apply absolute z-[3] left-1/2 top-1/2
            @apply flex-center flex-col

        // ----------------------------------------
        // Dot
        // ----------------------------------------
        .timeline-dot
            @apply relative z-[3] w-3 h-3 rounded-full bg-primary-4

        // ----------------------------------------
        // Year
        // ----------------------------------------
        .timeline-year
            @apply absolute whitespace-nowrap
            @apply body-2 text-primary-1 font-bold

        // ----------------------------------------
        // Content box
        // ----------------------------------------
        .timeline-card
            transform: translateX(-50%)
            @apply absolute z-[2]
            @apply left-1/2
            // @apply w-[calc(100%-24px)]
            @apply rem:w-[296px]
            // @apply max-w-full
            @apply px-4 py-3

            .text-title
                @apply text-center

            .text-desc
                @apply m-0 pl-5 text-left

                li
                    @apply pl-1

        // ----------------------------------------
        // Odd = content phía trên
        // ----------------------------------------
        .swiper-slide:nth-child(odd)

            .timeline-card
                bottom: calc(50% + 96px)

            .timeline-year
                top: calc(100% + 14px)

        // ----------------------------------------
        // Even = content phía dưới
        // ----------------------------------------
        .swiper-slide:nth-child(even)

            .timeline-card
                top: calc(50% + 92px)

            .timeline-year
                bottom: calc(100% + 14px)

        // ----------------------------------------
        // Navigation
        // ----------------------------------------
        .timeline-nav
            transform: translateY(-50%)
            @apply absolute z-[10] top-1/2
            @apply flex-center
            @apply w-13 h-13
            @apply rounded-full
            @apply border border-primary-3
            @apply bg-transparent
            @apply text-primary-3
            @apply transition-all duration-300

            &:hover
                @apply bg-primary-3 text-Utility-white

            .material-symbols-outlined
                @apply text-[24px]

        .btn-prev
            @apply left-0

        .btn-next
            @apply right-0

    // ==================================================
    // Desktop
    // ==================================================
    @screen xl

        .about-history-swiper

            .swiper-slide
                /*
                 * Swiper chia container thành đúng 7 phần.
                 * Card không được vượt quá width của slide.
                 */
                width: calc(100% / 5)
                margin-right: -96px !important

            .timeline-card

                @apply px-5 py-4

            .timeline-dot
                @apply w-3 h-3

    // ==================================================
    // Tablet
    // ==================================================
    @media (min-width: 768px) and (max-width: 1279px)

        .about-history-swiper

            .swiper-slide
                width: calc(100% / 4)

            .timeline-card
                max-width: 100%

                @apply px-4 py-3

    // ==================================================
    // Mobile
    // ==================================================
    @media (max-width: 767px)

        .about-history-swiper
            @apply px-10

            .swiper-slide
                width: 100%

            .timeline-card
                max-width: calc(100% - 24px)

            .timeline-nav
                @apply w-10 h-10

                .material-symbols-outlined
                    @apply text-[20px]

            .btn-prev
                @apply left-0

            .btn-next
                @apply right-0
