.btn
    @apply cursor-pointer select-none transition-all duration-300
    &.loading
        @apply bg-transparent #{!important}
        span,.icon
            @apply opacity-0
        &::before
            content: ''
            animation-duration: 0.5s
            @apply w-5 h-5 border-3 border-white/40 border-t-white rounded-full inline-block
            @apply absolute animate-spin

    .btn-scroll
        @apply relative w-6 h-9 rounded-8
        @apply flex justify-center bg-transparent border-none outline outline-1 outline-primary-3 shadow-1
        .scroll
            @apply w-2 h-2 rounded-1 bg-primary-3
            @apply translate-y-[55%] btn-scroll-animation

    .btn-discover
        @apply relative flex-center p-1 pl-4 rounded-full border border-primary-3 bg-transparent
        @apply transition-all duration-300 ease-in-out

        &__text
            @apply relative flex-center mx-2 whitespace-nowrap
            @apply heading-5 text-primary-3 font-bold
            @apply transition-all duration-300 ease-in-out

        &__icon
            @apply relative w-13 h-13 flex-center shrink-0 rounded-full bg-primary-3 text-Utility-white
            @apply transition-all duration-300 ease-in-out

        &:hover
            @apply bg-primary-3

            .btn-discover__text
                @apply text-Utility-white

            .btn-discover__icon
                @apply bg-primary-4 text-primary-3
    &.btn-primary-2
        // // size
        &.size-sm
            @apply py-1
        &.size-gradient-sm
            @apply py-1 pr-1 pl-5
        // recheck
        @apply inline-flex items-center heading-6 gap-x-3
        .block-icon
            @apply flex-center w-10 h-10 rem:rounded-tl-[18px] rem:rounded-br-[18px] transition-500 text-base overflow-hidden
            i
                @apply transition-500 will-change-transform z-2
        // default 
        &:not(.appearance-pill-primary-2):not(.appearance-pill-white):not(.appearance-gradient-1)
            @apply text-primary-1
            .block-icon
                @apply bg-primary-1 text-white
            &:hover
                @apply text-primary-2
                .block-icon
                    @apply bg-primary-2
                    i
                        @apply scale-120
        &.appearance-pill-white
            @apply text-white
            .block-icon
                @apply border border-white text-white
            &:hover
                @apply text-primary-4
                .block-icon
                    @apply border-primary-4 text-primary-4
                    i
                        @apply scale-120
        &.appearance-pill-primary-2
            @apply text-primary-2
            .block-icon
                @apply bg-primary-2 text-white
            &:hover
                .block-icon
                    i
                        @apply scale-120
        &.appearance-gradient-1
            @apply text-white bg-gradient-1 rounded-l-full rem:rounded-br-[9000px]
            .block-icon
                @apply relative text-white
                &::after,&::before
                    @apply content-[''] absolute inset-0  transition-500
                &::after
                    @apply bg-primary-2 opacity-0
                &::before
                    @apply bg-gradient-4
            &:hover
                @apply text-primary-2
                .block-icon
                    &::after
                        @apply opacity-100
                    &::before
                        @apply opacity-0
                    i
                        @apply scale-120

.btn-primary
    @apply relative isolate flex w-fit items-center px-4 py-2 gap-4
    @apply overflow-hidden rounded-1
    @apply bg-white
    @apply text-neutral-950 body-16
    @apply transition-all duration-300

    &::before
        content: ''
        @apply absolute left-0 top-0 -z-1
        @apply h-full w-1
        @apply rounded-l-1
        @apply bg-primary-2
        @apply transition-all duration-300

    i
        @apply heading-4 xl:rem:text-[20px]
        @apply text-primary-2
        @apply transition-all duration-300

    &:hover
        @apply text-white

        &::before
            @apply w-full rounded-r-1

        i
            @apply translate-x-2 text-white

    &:active
        @apply scale-[0.98] shadow-sm

        &::before
            @apply bg-primary-2/90

    &.btn-transparent
        @apply border border-white bg-transparent text-white

        i
            @apply text-white

        &:hover
            @apply border-transparent

    &.btn-gray
        @apply bg-neutral-100

    &.loading
        @apply pointer-events-none
        @apply border-transparent
        @apply bg-[#dcdcdc]
        @apply text-[70%] text-transparent
        @apply animate-pulse

        &::before
            @apply bg-transparent

        &::after
            @apply opacity-100

        i
            @apply -translate-x-2 opacity-0

        span
            @apply opacity-0

    &::after
        content: ''
        background-image: url(../img/loading.svg)
        background-position: center
        @apply pointer-events-none absolute
        @apply left-1/2 top-1/2
        @apply w-10 h-10
        @apply -translate-x-1/2 -translate-y-1/2
        @apply bg-contain bg-no-repeat
        @apply opacity-0 transition-all

    &.btn-expand
        span
            &:nth-of-type(1)
                @apply block

            &:nth-of-type(2)
                @apply hidden

        i
            @apply transition-all

        &.active
            @apply border-primary-3
            @apply bg-primary-3
            @apply text-white

            &::before
                @apply opacity-0

            span
                &:nth-of-type(1)
                    @apply hidden

                &:nth-of-type(2)
                    @apply block

            i
                @apply rotate-180

.btn-search
    @apply relative xl:px-3.75 py-2.25 flex-center rounded-5 border border-primary-3
    @apply text-xl text-primary-3 font-awesome
    @apply transition-all duration-300

    &:hover
        @apply xl:bg-primary-3 xl:text-Utility-white

.btn-language
    @apply relative px-4 py-1.25 flex-center gap-1 rounded-5 border border-Utility-black
    @apply body-3 text-Utility-black font-primary
    @apply transition-all duration-300

    &:hover
        @apply bg-Utility-black/50 text-Utility-white

.btn-arrow
    @apply relative block w-17 h-17 m-0 overflow-hidden border-0 bg-transparent cursor-pointer

    &::before,
    &::after
        content: ''
        @apply absolute inset-2 rounded-full z-0

    &::before
        @apply border border-primary-1 btn-arrow-before-transition

    &::after
        @apply border-2 border-primary-3 bg-primary-3 opacity-0 scale-120 btn-arrow-after-transition

    &:hover,
    &:focus
        &::before
            @apply opacity-0 scale-90 btn-arrow-after-transition

        &::after
            @apply opacity-100 scale-100 btn-arrow-before-transition

        .btn-arrow-box
            @apply -translate-x-17

        .material-symbols-outlined
            @apply text-primary-4

    &-box
        @apply absolute top-0 left-0 flex z-1 btn-arrow-box-transition

    &-element
        @apply flex-center w-17 h-17 shrink-0

        .material-symbols-outlined
            @apply text-primary-1 leading-none rotate-180 transition-colors duration-300 z-2
